
@media screen and (min-width: 960px) {
  .contacts-search-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.findContactsRouteImage {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 9;
}

.findContactsRouteImage > img {
  height: 320px;
  width: 320px;
  position: absolute;
  top: -50px;
  left: 10%;
  z-index: -1;
}


  .results-container {
    position: relative;
    grid-column-start: 4;
    grid-column-end: 9;
    border: 1px solid black;
    border-radius: 18px;
    height: 400px;
    position: relative;
    background: #3C3230;
    color: #eeebd9;
    text-align: center;
  }
  
  #go-back {
    position: absolute;
    left: 0;
    top: 0;
    color: #eeebd9;
  }
  
  #go-back:hover {
    color: #fc766a;
  }
  
  .results > h2 {
    text-align: center;
  }
  
  .results {
    max-height: 100%;
    overflow-y: auto;
    overflow-block: inherit;
  }
}

  @media screen and (max-width: 960px) {
    .contacts-search-results {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1em;
  }

  .findContactsRouteImage {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 9;
  }
  
  .findContactsRouteImage > img {
    height: 250px;
    width: 250px;
    position: absolute;
    top: -50px;
    left: 10%;
    z-index: -1;
  }
  
  
  .results-container {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 9;
      border: 1px solid black;
      border-radius: 18px;
      height: 400px;
      position: relative;
      background: #3C3230;
      color: #eeebd9;
      text-align: center;
    }
    
    #go-back {
      position: absolute;
      left: 0;
      top: 0;
      color: #eeebd9;
    }
    
    #go-back:hover {
      color: #fc766a;
    }
    
    .results > h2 {
      text-align: center;
    }
    
    .results {
      max-height: 100%;
      overflow-y: auto;
      overflow-block: inherit;
    }
  }

  @media screen and (max-width: 480px) {
    .contacts-search-results {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1em;
  }
  
  .results-container {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 9;
      border: 1px solid black;
      border-radius: 18px;
      height: 400px;
      position: relative;
      background: #3C3230;
      color: #eeebd9;
      text-align: center;
    }
    
    #go-back {
      position: absolute;
      left: 0;
      top: 0;
      color: #eeebd9;
    }
    
    #go-back:hover {
      color: #fc766a;
    }
    
    .results > h2 {
      text-align: center;
    }
    
    .results {
      max-height: 100%;
      overflow-y: auto;
      overflow-block: inherit;
    }
  }