.job-search-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.results-container {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 9;
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  position: relative;
  background: #3C3230;
  color: #eeebd9;
  text-align: center;
}

#go-back {
  position: absolute;
  right: 5%;
  top: -5%;
  width: 30px;
  height: 30px;
  color: #eeebd9;
  border-radius: 30px;
  display: table;
}

.go-back:hover {
  transition: all;
  color: #fc766a;
}

.results > h2 {
  text-align: center;
}

.results {
  max-height: 100%;
  overflow-y: auto;
  overflow-block: inherit;
}



