.job-search-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.results-container {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 9;
  height: 500px;
}

#go-back {
  position: absolute;
  right: 5%;
  top: -5%;
  width: 30px;
  height: 30px;
  color: #eeebd9;
  border-radius: 30px;
  display: table;
}

.go-back:hover {
  transition: all;
  color: #fc766a;
}

.results > h2 {
  text-align: center;
}



