.JobsList {
  grid-column-start: 3;
  grid-column-end: 9;
  border: 1px solid black;
  border-radius: 10px;
}

.title-h2 {
  text-align: center;
}


@media screen and (max-width: 960px) {
  .JobsList {
    grid-column-start: 1;
    grid-column-end: 9;
  }
}