.saved-contact-list {
    position: relative;
    grid-column-start: 4;
    grid-column-end: 9;
    height: 100%;
    max-height: 450px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    background: #3C3230;
    color: #eeebd9;
    text-align: center;
    overflow-y: auto;
}

.saved-contact-controls {
    width: 50%;
    margin-left: 50%;
    margin-top: 0.5em; 
}

@media screen and (max-width: 960px) {
    .saved-contact-list {
        grid-column-start: 1;
        grid-column-end: 9;
    }
}