.DashJobSummary > h4 {
  text-align: center;
}

.options > ul > li {
  list-style: none;
  width: 100%;
}

.ul {
  /* padding-left: 0; */
  width: 95%;
  margin: auto;
  height: 100%;
  background: #DCD7D4;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}

.viewAll {
  text-align: center;
  margin: 15px auto
}


.ul a {
  color: green;
}