.header {
  max-width: 100vw;
  background: #3C3230;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 50px;
  margin-left: 0%;
  position: relative;

}


.logo {
  width: 50%;
  grid-column-start: 2;
  grid-column-end: 4;
  text-decoration: none;
  margin: auto;
}

.logo > a > h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.logo > a {
  text-decoration: none;
  color: #FFDA71;
}

.nav {
  grid-column-start: 11;
  grid-column-end: 13;
  margin: auto;
  width: 100%;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}
