.notifications-box{
  background: #3C3230;
  color: white;
  padding: 10px;
  border-radius: 10px;
  grid-column-start: 4;
  grid-column-end: 9;
  height: 250px;
}

.notifications h2{
 text-align: center;
}