.resource-card {
  width: 80%;
  border: 1px black solid;
  min-width: 300px;
  margin-bottom: 10px;
  padding: 0.5em;
  border-radius: 10px;
  margin: auto;
  background: #3b3a50;
  color: #eeebd9;
  box-shadow:  0.5em 0.5em 0.2em rgb(48, 39, 39);
}