.footer {
  max-width: 100vw;
  background: #3C3230;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100%;
}

.frontEnd {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
}

.backEnd {
  grid-column-start: 3;
  grid-column-end: 4;
  margin: auto;
}

.contactUs {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
}

