.footer {
  max-width: 100vw;
  background: #42836e;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 75px;
}

.team-info {
  grid-column-start: 2;
  grid-column-end: 4;
  margin: auto;
}

.links-to-tech {
  grid-column-start: 11;
  grid-column-end: 13;
  margin: auto;
}


