.jobslist {
  border: 1px solid black;
  border-radius: 10px;
}

.information {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.total-results-count > p {
  margin: 0;
}

.results-page-number > p {
  margin: 0;
}

.results > h3 {
  text-align: center;
}

