.SavedEventsRoute {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.savedEventsBack {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 9;
}

.savedEventsBack > img {
  height: 250px;
  width: 250px;
  position: absolute;
  top: -200px;
  right: 5%;
  z-index: -1;
}